body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  background-color: #1d2c55;
  line-height: 1.5;
  margin: 0;
}

h4 {
  font-size: 20px;
}

footer {
  color: white;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: #496ed4;
  padding: 0 1em 0 1em;
}

.page-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.page-header a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.items {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 2em 0 2em 0;
}
.items img {
  width: 100%;
  height: auto;
  border-radius: 1em;
}
.item {
  border-style: solid;
  border-width: 0.5em;
  border-color: #0f162a;
  border-radius: 1.8em;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #0f162a;
  justify-content: space-between;
}
.item p {
  text-align: center;
  margin: 1em;
  font-weight: bold;
}
.item p:nth-child(3) {
  font-weight: normal;
  font-size: 1.2em;
}
.item button {
  margin: 1em;
  align-self: flex-end;
  background-color: #2c4280;
  color: white;
  padding: 0.75em;
  border-radius: 0.5em;
}
